.sidebarlist {
    font-size: .9rem;
}

a {
    display: block;
    list-style-type: none;
    color: rgb(139, 139, 139);
    margin: 1.3rem;
    cursor: pointer;
    text-decoration: none;
    transition: color .5s;
    text-align: center;
}

a:hover {
    color: black;
}

.list {
    justify-content: center;
    margin-top: 55px;
}

