.users-block {
    display: grid;
    grid-template-columns: auto;
    padding: 50px;
    margin: 20px;
    border-color: aquamarine;
    border-style: solid;
}

.image-icon-users {
    width: 60px;
    height: 60px
}